<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Hobsplit.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Hobsplit.src.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Hobsplit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Hobsplit.Settings>
            <setting name="sourceRect" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="comparisonRect" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="split" serializeAs="String">
                <value>NONAME</value>
            </setting>
            <setting name="unsplit" serializeAs="String">
                <value>NONAME</value>
            </setting>
            <setting name="reset" serializeAs="String">
                <value>NONAME</value>
            </setting>
            <setting name="pause" serializeAs="String">
                <value>NONAME</value>
            </setting>
            <setting name="useThief" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="manualSplit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="playReadySound" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="playThiefSound" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="menuPath" serializeAs="String">
                <value />
            </setting>
            <setting name="dwPath" serializeAs="String">
                <value />
            </setting>
            <setting name="aupPath" serializeAs="String">
                <value />
            </setting>
            <setting name="rmPath" serializeAs="String">
                <value />
            </setting>
            <setting name="thPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ohPath" serializeAs="String">
                <value />
            </setting>
            <setting name="riddlesPath" serializeAs="String">
                <value />
            </setting>
            <setting name="fasPath" serializeAs="String">
                <value />
            </setting>
            <setting name="boobPath" serializeAs="String">
                <value />
            </setting>
            <setting name="awwPath" serializeAs="String">
                <value />
            </setting>
            <setting name="thiefPath" serializeAs="String">
                <value />
            </setting>
            <setting name="iiPath" serializeAs="String">
                <value />
            </setting>
            <setting name="gotcPath" serializeAs="String">
                <value />
            </setting>
            <setting name="tcbPath" serializeAs="String">
                <value />
            </setting>
            <setting name="finalPath" serializeAs="String">
                <value />
            </setting>
            <setting name="loadsSimilarity" serializeAs="String">
                <value>0.935</value>
            </setting>
            <setting name="thiefSimilarity" serializeAs="String">
                <value>0.975</value>
            </setting>
            <setting name="finalSimilarity" serializeAs="String">
                <value>0.9</value>
            </setting>
            <setting name="resetSimilarity" serializeAs="String">
                <value>0.9</value>
            </setting>
            <setting name="startSimilarity" serializeAs="String">
                <value>0.92</value>
            </setting>
            <setting name="autoOBS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="obsPath" serializeAs="String">
                <value>No path set!</value>
            </setting>
            <setting name="updateRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="needSetup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="advSimilarity" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="advSplitIndex" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="advSplitState" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="advShowRunInfo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="alwaysOnTop" serializeAs="String">
                <value>False</value>
            </setting>
        </Hobsplit.Settings>
    </userSettings>
</configuration>