<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HobbitAutosplitter.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="HobbitAutosplitter.src.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="HobbitAutosplitter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <HobbitAutosplitter.Settings>
            <setting name="cropLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cropTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cropRight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cropBottom" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="split" serializeAs="String">
                <value>NONAME</value>
            </setting>
            <setting name="unsplit" serializeAs="String">
                <value>NONAME</value>
            </setting>
            <setting name="reset" serializeAs="String">
                <value>NONAME</value>
            </setting>
            <setting name="pause" serializeAs="String">
                <value>NONAME</value>
            </setting>
            <setting name="unisim" serializeAs="String">
                <value>0.98</value>
            </setting>
        </HobbitAutosplitter.Settings>
    </userSettings>
</configuration>